

<div id="container">
  <h1>LOGIN</h1>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="enter your name" value="" name="uname"  #message>
  </mat-form-field>
<br>
<mat-form-field>
<input matInput value=""  placeholder="enter your password" #action>
</mat-form-field>
  <br>
  <!-- <a href="/snap"></a><button mat-flat-button color="primary">LOGIN</button> -->
  <button mat-flat-button color="primary" (click)="openSnackBar(message.value, action.value)">LOGIN</button>
</div>
</div>
 
